In [14]:
import pandas as pd
import os

In [15]:
file_path = r'..\data\WBAN_14735_Albany_nofilter.xlsx'
xlsx = pd.ExcelFile(file_path)
df_2013 = pd.read_excel(xlsx, '2013')
df_2014 = pd.read_excel(xlsx, '2014')
df_2015 = pd.read_excel(xlsx, '2015')
df_2016 = pd.read_excel(xlsx, '2016')
df_2017 = pd.read_excel(xlsx, '2017')
df_2018 = pd.read_excel(xlsx, '2018')
df_2019 = pd.read_excel(xlsx, '2019')
df_2020 = pd.read_excel(xlsx, '2020')
df_2021 = pd.read_excel(xlsx, '2021')
df_2022 = pd.read_excel(xlsx, '2022')

In [16]:
df_2013.head()

,STATION,DATE,REPORT_TYPE,BackupLatitude,BackupLongitude,BackupName,DailyAverageDewPointTemperature,DailyAverageDryBulbTemperature,DailyAverageRelativeHumidity,DailyAverageSeaLevelPressure,...,DailyHeatingDegreeDays,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed
0,72518014735,2013-03-01T23:59:00,SOD,42.6918,-73.83109,"NWS ALBANY, NY",29.0,37,80.0,29.71,...,28,41,32,280.0,24.0,0.02,0,0.2,290,20
1,72518014735,2013-03-02T23:59:00,SOD,42.6918,-73.83109,"NWS ALBANY, NY",22.0,31,71.0,29.77,...,34,36,25,290.0,22.0,0.01,0,0.3,310,17
2,72518014735,2013-03-03T23:59:00,SOD,42.6918,-73.83109,"NWS ALBANY, NY",18.0,27,72.0,29.75,...,38,31,22,300.0,31.0,0.03,0,0.4,290,24
3,72518014735,2013-03-04T23:59:00,SOD,42.6918,-73.83109,"NWS ALBANY, NY",19.0,29,69.0,29.82,...,36,33,25,280.0,40.0,T,0,0.3,290,32
4,72518014735,2013-03-05T23:59:00,SOD,42.6918,-73.83109,"NWS ALBANY, NY",22.0,35,65.0,30.04,...,30,41,28,320.0,21.0,T,0,T,320,16

In [17]:
df_2022.head()

,STATION,DATE,REPORT_TYPE,BackupLatitude,BackupLongitude,BackupName,DailyAverageDewPointTemperature,DailyAverageDryBulbTemperature,DailyAverageRelativeHumidity,DailyAverageSeaLevelPressure,...,DailyHeatingDegreeDays,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed
0,72518014735,2022-01-01T23:59:00,SOD,42.6812,-73.8165,"NWS ALBANY, NY",45.0,46,96.0,29.75,...,19,51,41,170,20,0.12,0,0,170.0,15
1,72518014735,2022-01-02T23:59:00,SOD,42.6812,-73.8165,"NWS ALBANY, NY",30.0,36,90.0,29.78,...,29,49,23,280,30,0.07,0,0.2,280.0,24
2,72518014735,2022-01-03T23:59:00,SOD,42.6812,-73.8165,"NWS ALBANY, NY",10.0,18,71.0,30.24,...,47,23,13,280,30,T,T,T,270.0,21
3,72518014735,2022-01-04T23:59:00,SOD,42.6812,-73.8165,"NWS ALBANY, NY",11.0,20,65.0,30.33,...,45,29,10,160,19,T,T,0.1,150.0,14
4,72518014735,2022-01-05T23:59:00,SOD,42.6812,-73.8165,"NWS ALBANY, NY",25.0,33,72.0,29.84,...,32,38,28,160,33,0,T,0,160.0,24

In [18]:
df_2013.columns

Index(['STATION', 'DATE', 'REPORT_TYPE', 'BackupLatitude', 'BackupLongitude',
       'BackupName', 'DailyAverageDewPointTemperature',
       'DailyAverageDryBulbTemperature', 'DailyAverageRelativeHumidity',
       'DailyAverageSeaLevelPressure', 'DailyAverageStationPressure',
       'DailyAverageWetBulbTemperature', 'DailyAverageWindSpeed',
       'DailyCoolingDegreeDays', 'DailyDepartureFromNormalAverageTemperature',
       'DailyHeatingDegreeDays', 'DailyMaximumDryBulbTemperature',
       'DailyMinimumDryBulbTemperature', 'DailyPeakWindDirection',
       'DailyPeakWindSpeed', 'DailyPrecipitation', 'DailySnowDepth',
       'DailySnowfall', 'DailySustainedWindDirection',
       'DailySustainedWindSpeed'],
      dtype='object')

In [19]:
df_2013 = df_2013[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2013 = df_2013.replace(72518014735,'2013')
df_2013 = df_2013[df_2013["DailyAverageDryBulbTemperature"] != '68s']
df_2013 = df_2013[df_2013["DailyAverageDryBulbTemperature"] != '9s']
df_2013 = df_2013[df_2013["DailyAverageDryBulbTemperature"] != '21s']
df_2013 = df_2013[df_2013["DailyMaximumDryBulbTemperature"] != '49s']
df_2013 = df_2013.set_index('STATION')
df_2013.head()

,DailyAverageDryBulbTemperature,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature
STATION,,,
2013,37,41,32
2013,31,36,25
2013,27,31,22
2013,29,33,25
2013,35,41,28

In [20]:
df_2013['DailyAverageDryBulbTemperature'] = df_2013['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2013['DailyMaximumDryBulbTemperature'] = df_2013['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2013['DailyMinimumDryBulbTemperature'] = df_2013['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

In [21]:
df_2013.mean()

DailyAverageDryBulbTemperature    53.434641
DailyMaximumDryBulbTemperature    63.042484
DailyMinimumDryBulbTemperature    43.264706
dtype: float64

In [22]:
df_2013 = df_2013.groupby('STATION').mean()

In [23]:
df_2014 = df_2014[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2014 = df_2014.replace(72518014735,'2014')

df_2015 = df_2015[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2015 = df_2015.replace(72518014735,'2015')

df_2016= df_2016[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2016 = df_2016.replace(72518014735,'2016')

df_2017 = df_2017[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2017 = df_2017.replace(72518014735,'2017')

df_2018 = df_2018[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2018 = df_2018.replace(72518014735,'2018')

df_2019 = df_2019[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2019 = df_2019.replace(72518014735,'2019')

df_2020 = df_2020[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2020 = df_2020.replace(72518014735,'2020')

df_2021 = df_2021[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2021 = df_2021.replace(72518014735,'2021')

df_2022 = df_2022[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2022 = df_2022.replace(72518014735,'2022')

In [24]:
df_2014 = df_2014[df_2014["DailyAverageDryBulbTemperature"] != '68s']
df_2014 = df_2014[df_2014["DailyAverageDryBulbTemperature"] != '9s']
df_2014 = df_2014[df_2014["DailyAverageDryBulbTemperature"] != '21s']
df_2014 = df_2014[df_2014["DailyMaximumDryBulbTemperature"] != '49s']

df_2015 = df_2015[df_2015["DailyAverageDryBulbTemperature"] != '68s']
df_2015 = df_2015[df_2015["DailyAverageDryBulbTemperature"] != '9s']
df_2015 = df_2015[df_2015["DailyAverageDryBulbTemperature"] != '21s']
df_2015 = df_2015[df_2015["DailyMaximumDryBulbTemperature"] != '49s']

df_2016 = df_2016[df_2016["DailyAverageDryBulbTemperature"] != '68s']
df_2016 = df_2016[df_2016["DailyAverageDryBulbTemperature"] != '9s']
df_2016 = df_2016[df_2016["DailyAverageDryBulbTemperature"] != '21s']
df_2016 = df_2016[df_2016["DailyMaximumDryBulbTemperature"] != '49s']

df_2017 = df_2017[df_2017["DailyAverageDryBulbTemperature"] != '68s']
df_2017 = df_2017[df_2017["DailyAverageDryBulbTemperature"] != '9s']
df_2017 = df_2017[df_2017["DailyAverageDryBulbTemperature"] != '21s']
df_2017 = df_2017[df_2017["DailyMaximumDryBulbTemperature"] != '49s']

df_2018 = df_2018[df_2018["DailyAverageDryBulbTemperature"] != '68s']
df_2018 = df_2018[df_2018["DailyAverageDryBulbTemperature"] != '9s']
df_2018 = df_2018[df_2018["DailyAverageDryBulbTemperature"] != '21s']
df_2018 = df_2018[df_2018["DailyMaximumDryBulbTemperature"] != '49s']

df_2019 = df_2019[df_2019["DailyAverageDryBulbTemperature"] != '68s']
df_2019 = df_2019[df_2019["DailyAverageDryBulbTemperature"] != '9s']
df_2019 = df_2019[df_2019["DailyAverageDryBulbTemperature"] != '21s']
df_2019 = df_2019[df_2019["DailyMaximumDryBulbTemperature"] != '49s']

df_2020 = df_2020[df_2020["DailyAverageDryBulbTemperature"] != '68s']
df_2020 = df_2020[df_2020["DailyAverageDryBulbTemperature"] != '9s']
df_2020 = df_2020[df_2020["DailyAverageDryBulbTemperature"] != '21s']
df_2020 = df_2020[df_2020["DailyMaximumDryBulbTemperature"] != '49s']

df_2021 = df_2021[df_2021["DailyAverageDryBulbTemperature"] != '68s']
df_2021 = df_2021[df_2021["DailyAverageDryBulbTemperature"] != '9s']
df_2021 = df_2021[df_2021["DailyAverageDryBulbTemperature"] != '21s']
df_2021 = df_2021[df_2021["DailyMaximumDryBulbTemperature"] != '49s']

df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '68s']
df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '9s']
df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '21s']
df_2022 = df_2022[df_2022["DailyMaximumDryBulbTemperature"] != '49s']

df_2014['DailyAverageDryBulbTemperature'] = df_2014['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2014['DailyMaximumDryBulbTemperature'] = df_2014['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2014['DailyMinimumDryBulbTemperature'] = df_2014['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2015['DailyAverageDryBulbTemperature'] = df_2015['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2015['DailyMaximumDryBulbTemperature'] = df_2015['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2015['DailyMinimumDryBulbTemperature'] = df_2015['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2016['DailyAverageDryBulbTemperature'] = df_2016['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2016['DailyMaximumDryBulbTemperature'] = df_2016['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2016['DailyMinimumDryBulbTemperature'] = df_2016['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2017['DailyAverageDryBulbTemperature'] = df_2017['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2017['DailyMaximumDryBulbTemperature'] = df_2017['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2017['DailyMinimumDryBulbTemperature'] = df_2017['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2018['DailyAverageDryBulbTemperature'] = df_2018['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2018['DailyMaximumDryBulbTemperature'] = df_2018['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2018['DailyMinimumDryBulbTemperature'] = df_2018['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2019['DailyAverageDryBulbTemperature'] = df_2019['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2019['DailyMaximumDryBulbTemperature'] = df_2019['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2019['DailyMinimumDryBulbTemperature'] = df_2019['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2020['DailyAverageDryBulbTemperature'] = df_2020['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2020['DailyMaximumDryBulbTemperature'] = df_2020['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2020['DailyMinimumDryBulbTemperature'] = df_2020['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2021['DailyAverageDryBulbTemperature'] = df_2021['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2021['DailyMaximumDryBulbTemperature'] = df_2021['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2021['DailyMinimumDryBulbTemperature'] = df_2021['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2022['DailyAverageDryBulbTemperature'] = df_2022['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2022['DailyMaximumDryBulbTemperature'] = df_2022['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2022['DailyMinimumDryBulbTemperature'] = df_2022['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

In [25]:
df_2014 = df_2014.groupby('STATION').mean()
df_2015 = df_2015.groupby('STATION').mean()
df_2016 = df_2016.groupby('STATION').mean()
df_2017 = df_2017.groupby('STATION').mean()
df_2018 = df_2018.groupby('STATION').mean()
df_2019 = df_2019.groupby('STATION').mean()
df_2020 = df_2020.groupby('STATION').mean()
df_2021 = df_2021.groupby('STATION').mean()
df_2022 = df_2022.groupby('STATION').mean()

In [26]:
frames = [df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022]
albany_df = pd.concat(frames)
albany_df.index.names = ['Year']
albany_df = albany_df.rename(columns={"DailyAverageDryBulbTemperature": "Average_Daily_Average_Temp", 
                "DailyMaximumDryBulbTemperature": "Average_Daily_Max_Temp",  "DailyMinimumDryBulbTemperature": "Average_Daily_Min_Temp"})
albany_df['Location'] = ['Albany, New York','Albany, New York','Albany, New York','Albany, New York','Albany, New York',
                        'Albany, New York','Albany, New York','Albany, New York','Albany, New York','Albany, New York']
albany_df = albany_df[['Location','Average_Daily_Average_Temp', 'Average_Daily_Max_Temp','Average_Daily_Min_Temp']]
albany_df

,Location,Average_Daily_Average_Temp,Average_Daily_Max_Temp,Average_Daily_Min_Temp
Year,,,,
2013,"Albany, New York",53.434641,63.042484,43.264706
2014,"Albany, New York",48.375342,57.660274,38.586301
2015,"Albany, New York",49.967123,59.936986,39.520548
2016,"Albany, New York",51.385246,61.166667,41.092896
2017,"Albany, New York",50.523288,59.635616,40.887671
2018,"Albany, New York",50.528767,59.093151,41.457534
2019,"Albany, New York",49.876712,59.063014,40.205479
2020,"Albany, New York",50.896175,60.336066,40.972678
2021,"Albany, New York",49.290411,58.164384,39.904110
2022,"Albany, New York",50.947945,60.915068,40.490411

In [27]:
albany_df.to_csv(r'..\data\albany_yearly_stats.csv')