In [14]:
import pandas as pd
import os

In [15]:
file_path = r'..\data\WBAN_22521_Honolulu_nofilter.xlsx'
xlsx = pd.ExcelFile(file_path)
df_2013 = pd.read_excel(xlsx, '2013')
df_2014 = pd.read_excel(xlsx, '2014')
df_2015 = pd.read_excel(xlsx, '2015')
df_2016 = pd.read_excel(xlsx, '2016')
df_2017 = pd.read_excel(xlsx, '2017')
df_2018 = pd.read_excel(xlsx, '2018')
df_2019 = pd.read_excel(xlsx, '2019')
df_2020 = pd.read_excel(xlsx, '2020')
df_2021 = pd.read_excel(xlsx, '2021')
df_2022 = pd.read_excel(xlsx, '2022')

In [16]:
df_2013.head()

,STATION,DATE,REPORT_TYPE,BackupLatitude,BackupLongitude,DailyAverageDewPointTemperature,DailyAverageDryBulbTemperature,DailyAverageRelativeHumidity,DailyAverageSeaLevelPressure,DailyAverageStationPressure,...,DailyHeatingDegreeDays,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed
0,91182022521,2013-03-01T23:59:00,SOD,21.3219,-157.9253,56.0,76,54.0,30.14,30.12,...,0,81,71,70,37,T,NaN,NaN,70,29
1,91182022521,2013-03-02T23:59:00,SOD,21.3219,-157.9253,56.0,76,54.0,30.14,30.12,...,0,81,70,60,37,T,NaN,NaN,70,28
2,91182022521,2013-03-03T23:59:00,SOD,21.3219,-157.9253,54.0,75,50.0,30.15,30.14,...,0,80,69,50,33,0,NaN,NaN,70,25
3,91182022521,2013-03-04T23:59:00,SOD,21.3219,-157.9253,55.0,75,53.0,30.15,30.13,...,0,80,70,50,30,0,NaN,NaN,60,24
4,91182022521,2013-03-05T23:59:00,SOD,21.3219,-157.9253,56.0,75,55.0,30.12,30.11,...,0,81,68,60,25,0,NaN,NaN,70,21

In [17]:
df_2022.head()

,STATION,DATE,REPORT_TYPE,DailyAverageDewPointTemperature,DailyAverageDryBulbTemperature,DailyAverageRelativeHumidity,DailyAverageSeaLevelPressure,DailyAverageStationPressure,DailyAverageWetBulbTemperature,DailyAverageWindSpeed,...,DailyHeatingDegreeDays,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed
0,91182022521,2022-01-01T23:59:00,SOD,68.0,73,87.0,29.85,29.83,69.0,8.4,...,0,78,67.0,200,32,3.33,NaN,NaN,170,22
1,91182022521,2022-01-02T23:59:00,SOD,65.0,70,87.0,29.88,29.86,67.0,3.1,...,0,73,66.0,240,36,1.67,NaN,NaN,230,29
2,91182022521,2022-01-03T23:59:00,SOD,66.0,72,86.0,29.90,29.86,68.0,2.1,...,0,78,66.0,180,12,0.62,NaN,NaN,180,12
3,91182022521,2022-01-04T23:59:00,SOD,67.0,73,83.0,29.92,29.90,69.0,5.3,...,0,78,67.0,250,29,0.22,NaN,NaN,240,23
4,91182022521,2022-01-05T23:59:00,SOD,67.0,73,82.0,29.99,29.96,69.0,4.3,...,0,78,68.0,200,14,0.2,NaN,NaN,200,12

In [18]:
df_2013.columns

Index(['STATION', 'DATE', 'REPORT_TYPE', 'BackupLatitude', 'BackupLongitude',
       'DailyAverageDewPointTemperature', 'DailyAverageDryBulbTemperature',
       'DailyAverageRelativeHumidity', 'DailyAverageSeaLevelPressure',
       'DailyAverageStationPressure', 'DailyAverageWetBulbTemperature',
       'DailyAverageWindSpeed', 'DailyCoolingDegreeDays',
       'DailyDepartureFromNormalAverageTemperature', 'DailyHeatingDegreeDays',
       'DailyMaximumDryBulbTemperature', 'DailyMinimumDryBulbTemperature',
       'DailyPeakWindDirection', 'DailyPeakWindSpeed', 'DailyPrecipitation',
       'DailySnowDepth', 'DailySnowfall', 'DailySustainedWindDirection',
       'DailySustainedWindSpeed'],
      dtype='object')

In [19]:
df_2013 = df_2013[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2013 = df_2013.replace(91182022521,'2013')
df_2013 = df_2013[df_2013["DailyAverageDryBulbTemperature"] != '68s']
df_2013 = df_2013[df_2013["DailyAverageDryBulbTemperature"] != '9s']
df_2013 = df_2013[df_2013["DailyAverageDryBulbTemperature"] != '21s']
df_2013 = df_2013[df_2013["DailyMaximumDryBulbTemperature"] != '49s']
df_2013 = df_2013.set_index('STATION')
df_2013.head()

,DailyAverageDryBulbTemperature,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature
STATION,,,
2013,76,81,71
2013,76,81,70
2013,75,80,69
2013,75,80,70
2013,75,81,68

In [20]:
df_2013['DailyAverageDryBulbTemperature'] = df_2013['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2013['DailyMaximumDryBulbTemperature'] = df_2013['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2013['DailyMinimumDryBulbTemperature'] = df_2013['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

In [21]:
df_2013.mean()

DailyAverageDryBulbTemperature    77.986928
DailyMaximumDryBulbTemperature    84.284314
DailyMinimumDryBulbTemperature    71.222222
dtype: float64

In [22]:
df_2013 = df_2013.groupby('STATION').mean()

In [23]:
df_2014 = df_2014[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2014 = df_2014.replace(91182022521,'2014')

df_2015 = df_2015[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2015 = df_2015.replace(91182022521,'2015')

df_2016= df_2016[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2016 = df_2016.replace(91182022521,'2016')

df_2017 = df_2017[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2017 = df_2017.replace(91182022521,'2017')

df_2018 = df_2018[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2018 = df_2018.replace(91182022521,'2018')

df_2019 = df_2019[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2019 = df_2019.replace(91182022521,'2019')

df_2020 = df_2020[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2020 = df_2020.replace(91182022521,'2020')

df_2021 = df_2021[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2021 = df_2021.replace(91182022521,'2021')

df_2022 = df_2022[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2022 = df_2022.replace(91182022521,'2022')

In [24]:
df_2014 = df_2014[df_2014["DailyAverageDryBulbTemperature"] != '68s']
df_2014 = df_2014[df_2014["DailyAverageDryBulbTemperature"] != '9s']
df_2014 = df_2014[df_2014["DailyAverageDryBulbTemperature"] != '21s']
df_2014 = df_2014[df_2014["DailyMaximumDryBulbTemperature"] != '49s']

df_2015 = df_2015[df_2015["DailyAverageDryBulbTemperature"] != '68s']
df_2015 = df_2015[df_2015["DailyAverageDryBulbTemperature"] != '9s']
df_2015 = df_2015[df_2015["DailyAverageDryBulbTemperature"] != '21s']
df_2015 = df_2015[df_2015["DailyMaximumDryBulbTemperature"] != '49s']

df_2016 = df_2016[df_2016["DailyAverageDryBulbTemperature"] != '68s']
df_2016 = df_2016[df_2016["DailyAverageDryBulbTemperature"] != '9s']
df_2016 = df_2016[df_2016["DailyAverageDryBulbTemperature"] != '21s']
df_2016 = df_2016[df_2016["DailyMaximumDryBulbTemperature"] != '49s']

df_2017 = df_2017[df_2017["DailyAverageDryBulbTemperature"] != '68s']
df_2017 = df_2017[df_2017["DailyAverageDryBulbTemperature"] != '9s']
df_2017 = df_2017[df_2017["DailyAverageDryBulbTemperature"] != '21s']
df_2017 = df_2017[df_2017["DailyMaximumDryBulbTemperature"] != '49s']

df_2018 = df_2018[df_2018["DailyAverageDryBulbTemperature"] != '68s']
df_2018 = df_2018[df_2018["DailyAverageDryBulbTemperature"] != '9s']
df_2018 = df_2018[df_2018["DailyAverageDryBulbTemperature"] != '21s']
df_2018 = df_2018[df_2018["DailyMaximumDryBulbTemperature"] != '49s']

df_2019 = df_2019[df_2019["DailyAverageDryBulbTemperature"] != '68s']
df_2019 = df_2019[df_2019["DailyAverageDryBulbTemperature"] != '9s']
df_2019 = df_2019[df_2019["DailyAverageDryBulbTemperature"] != '21s']
df_2019 = df_2019[df_2019["DailyMaximumDryBulbTemperature"] != '49s']

df_2020 = df_2020[df_2020["DailyAverageDryBulbTemperature"] != '68s']
df_2020 = df_2020[df_2020["DailyAverageDryBulbTemperature"] != '9s']
df_2020 = df_2020[df_2020["DailyAverageDryBulbTemperature"] != '21s']
df_2020 = df_2020[df_2020["DailyMaximumDryBulbTemperature"] != '49s']

df_2021 = df_2021[df_2021["DailyAverageDryBulbTemperature"] != '68s']
df_2021 = df_2021[df_2021["DailyAverageDryBulbTemperature"] != '9s']
df_2021 = df_2021[df_2021["DailyAverageDryBulbTemperature"] != '21s']
df_2021 = df_2021[df_2021["DailyMaximumDryBulbTemperature"] != '49s']

df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '68s']
df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '9s']
df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '21s']
df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '81s']
df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '82s']
df_2022 = df_2022[df_2022["DailyMaximumDryBulbTemperature"] != '49s']

df_2014['DailyAverageDryBulbTemperature'] = df_2014['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2014['DailyMaximumDryBulbTemperature'] = df_2014['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2014['DailyMinimumDryBulbTemperature'] = df_2014['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2015['DailyAverageDryBulbTemperature'] = df_2015['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2015['DailyMaximumDryBulbTemperature'] = df_2015['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2015['DailyMinimumDryBulbTemperature'] = df_2015['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2016['DailyAverageDryBulbTemperature'] = df_2016['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2016['DailyMaximumDryBulbTemperature'] = df_2016['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2016['DailyMinimumDryBulbTemperature'] = df_2016['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2017['DailyAverageDryBulbTemperature'] = df_2017['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2017['DailyMaximumDryBulbTemperature'] = df_2017['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2017['DailyMinimumDryBulbTemperature'] = df_2017['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2018['DailyAverageDryBulbTemperature'] = df_2018['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2018['DailyMaximumDryBulbTemperature'] = df_2018['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2018['DailyMinimumDryBulbTemperature'] = df_2018['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2019['DailyAverageDryBulbTemperature'] = df_2019['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2019['DailyMaximumDryBulbTemperature'] = df_2019['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2019['DailyMinimumDryBulbTemperature'] = df_2019['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2020['DailyAverageDryBulbTemperature'] = df_2020['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2020['DailyMaximumDryBulbTemperature'] = df_2020['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2020['DailyMinimumDryBulbTemperature'] = df_2020['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2021['DailyAverageDryBulbTemperature'] = df_2021['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2021['DailyMaximumDryBulbTemperature'] = df_2021['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2021['DailyMinimumDryBulbTemperature'] = df_2021['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2022['DailyAverageDryBulbTemperature'] = df_2022['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2022['DailyMaximumDryBulbTemperature'] = df_2022['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2022['DailyMinimumDryBulbTemperature'] = df_2022['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

In [25]:
df_2014 = df_2014.groupby('STATION').mean()
df_2015 = df_2015.groupby('STATION').mean()
df_2016 = df_2016.groupby('STATION').mean()
df_2017 = df_2017.groupby('STATION').mean()
df_2018 = df_2018.groupby('STATION').mean()
df_2019 = df_2019.groupby('STATION').mean()
df_2020 = df_2020.groupby('STATION').mean()
df_2021 = df_2021.groupby('STATION').mean()
df_2022 = df_2022.groupby('STATION').mean()

In [26]:
frames = [df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022]
honolulu_df = pd.concat(frames)
honolulu_df.index.names = ['Year']
honolulu_df = honolulu_df.rename(columns={"DailyAverageDryBulbTemperature": "Average_Daily_Average_Temp", 
                "DailyMaximumDryBulbTemperature": "Average_Daily_Max_Temp",  "DailyMinimumDryBulbTemperature": "Average_Daily_Min_Temp"})
honolulu_df['Location'] = ['Honolulu, Hawaii','Honolulu, Hawaii','Honolulu, Hawaii','Honolulu, Hawaii','Honolulu, Hawaii',
                        'Honolulu, Hawaii','Honolulu, Hawaii','Honolulu, Hawaii','Honolulu, Hawaii','Honolulu, Hawaii']
honolulu_df = honolulu_df[['Location','Average_Daily_Average_Temp', 'Average_Daily_Max_Temp','Average_Daily_Min_Temp']]
honolulu_df

,Location,Average_Daily_Average_Temp,Average_Daily_Max_Temp,Average_Daily_Min_Temp
Year,,,,
2013,"Honolulu, Hawaii",77.986928,84.284314,71.222222
2014,"Honolulu, Hawaii",78.449315,84.457534,71.989041
2015,"Honolulu, Hawaii",78.720548,85.027397,72.158904
2016,"Honolulu, Hawaii",78.081967,84.090164,71.614754
2017,"Honolulu, Hawaii",78.254795,84.684932,71.501370
2018,"Honolulu, Hawaii",79.060274,84.750685,72.904110
2019,"Honolulu, Hawaii",79.586301,86.156164,72.495890
2020,"Honolulu, Hawaii",79.172131,85.467213,72.393443
2021,"Honolulu, Hawaii",78.339726,84.810959,71.597260
2022,"Honolulu, Hawaii",78.375691,84.734807,71.511050

In [27]:
honolulu_df.to_csv(r'..\data\honolulu_yearly_stats.csv')