In [1]:
import pandas as pd
import os

In [2]:
file_path = r'..\data\WBAN_25309_Juneau_nofilter.xlsx'
xlsx = pd.ExcelFile(file_path)
df_2013 = pd.read_excel(xlsx, '2013')
df_2014 = pd.read_excel(xlsx, '2014')
df_2015 = pd.read_excel(xlsx, '2015')
df_2016 = pd.read_excel(xlsx, '2016')
df_2017 = pd.read_excel(xlsx, '2017')
df_2018 = pd.read_excel(xlsx, '2018')
df_2019 = pd.read_excel(xlsx, '2019')
df_2020 = pd.read_excel(xlsx, '2020')
df_2021 = pd.read_excel(xlsx, '2021')
df_2022 = pd.read_excel(xlsx, '2022')

In [3]:
df_2013.head()

,STATION,DATE,REPORT_TYPE,BackupLatitude,BackupLongitude,DailyAverageDewPointTemperature,DailyAverageDryBulbTemperature,DailyAverageRelativeHumidity,DailyAverageSeaLevelPressure,DailyAverageStationPressure,...,DailyHeatingDegreeDays,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed
0,70381025309,2013-03-01T23:59:00,SOD,58.3597,-134.5839,34.0,37,89.0,29.92,29.88,...,28,40,34,120,36,0.24,0,0,120,30
1,70381025309,2013-03-02T23:59:00,SOD,58.3597,-134.5839,31.0,33,92.0,30.03,29.99,...,32,40,26,240,13,0,0,0,240,12
2,70381025309,2013-03-03T23:59:00,SOD,58.3597,-134.5839,29.0,32,89.0,30.37,30.35,...,33,39,25,230,15,0,0,0,240,12
3,70381025309,2013-03-04T23:59:00,SOD,58.3597,-134.5839,24.0,32,80.0,30.40,30.39,...,33,42,22,250,12,0,0,0,250,10
4,70381025309,2013-03-05T23:59:00,SOD,58.3597,-134.5839,19.0,28,73.0,30.12,30.09,...,37,37,19,240,12,0,0,0,240,9

In [4]:
df_2022.head()

,STATION,DATE,REPORT_TYPE,BackupLatitude,BackupLongitude,DailyAverageDewPointTemperature,DailyAverageDryBulbTemperature,DailyAverageRelativeHumidity,DailyAverageSeaLevelPressure,DailyAverageStationPressure,...,DailyHeatingDegreeDays,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed
0,70381025309,2022-01-01T23:59:00,SOD,58.3597,-134.5839,NaN,31,88.0,NaN,29.08,...,34,35,27,110,38,0.55,20,5,110,30
1,70381025309,2022-01-02T23:59:00,SOD,58.3597,-134.5839,8.0,22,57.0,29.57,29.52,...,43,27,16,120,39,T,20,0.1,90,30
2,70381025309,2022-01-03T23:59:00,SOD,58.3597,-134.5839,-2.0,13,47.0,29.81,29.78,...,52,17,8,120,43,0,18,0,90,32
3,70381025309,2022-01-04T23:59:00,SOD,58.3597,-134.5839,-9.0,7,46.0,30.29,30.27,...,58,9,4,100,42,0,17,0,100,31
4,70381025309,2022-01-05T23:59:00,SOD,58.3597,-134.5839,-7.0,1,69.0,30.37,30.37,...,64,8,-6,100,11,0,16,0,120,9

In [5]:
df_2013.columns

Index(['STATION', 'DATE', 'REPORT_TYPE', 'BackupLatitude', 'BackupLongitude',
       'DailyAverageDewPointTemperature', 'DailyAverageDryBulbTemperature',
       'DailyAverageRelativeHumidity', 'DailyAverageSeaLevelPressure',
       'DailyAverageStationPressure', 'DailyAverageWetBulbTemperature',
       'DailyAverageWindSpeed', 'DailyCoolingDegreeDays',
       'DailyDepartureFromNormalAverageTemperature', 'DailyHeatingDegreeDays',
       'DailyMaximumDryBulbTemperature', 'DailyMinimumDryBulbTemperature',
       'DailyPeakWindDirection', 'DailyPeakWindSpeed', 'DailyPrecipitation',
       'DailySnowDepth', 'DailySnowfall', 'DailySustainedWindDirection',
       'DailySustainedWindSpeed'],
      dtype='object')

In [6]:
df_2013 = df_2013[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2013 = df_2013.replace(70381025309,'2013')
df_2013 = df_2013[df_2013["DailyAverageDryBulbTemperature"] != '68s']
df_2013 = df_2013[df_2013["DailyAverageDryBulbTemperature"] != '9s']
df_2013 = df_2013[df_2013["DailyAverageDryBulbTemperature"] != '21s']
df_2013 = df_2013[df_2013["DailyMaximumDryBulbTemperature"] != '49s']
df_2013 = df_2013.set_index('STATION')
df_2013.head()

,DailyAverageDryBulbTemperature,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature
STATION,,,
2013,37,40,34
2013,33,40,26
2013,32,39,25
2013,32,42,22
2013,28,37,19

In [7]:
df_2013['DailyAverageDryBulbTemperature'] = df_2013['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2013['DailyMaximumDryBulbTemperature'] = df_2013['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2013['DailyMinimumDryBulbTemperature'] = df_2013['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

In [8]:
df_2013.mean()

DailyAverageDryBulbTemperature    44.424837
DailyMaximumDryBulbTemperature    50.656863
DailyMinimumDryBulbTemperature    37.696078
dtype: float64

In [9]:
df_2013 = df_2013.groupby('STATION').mean()

In [10]:
df_2014 = df_2014[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2014 = df_2014.replace(70381025309,'2014')

df_2015 = df_2015[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2015 = df_2015.replace(70381025309,'2015')

df_2016= df_2016[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2016 = df_2016.replace(70381025309,'2016')

df_2017 = df_2017[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2017 = df_2017.replace(70381025309,'2017')

df_2018 = df_2018[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2018 = df_2018.replace(70381025309,'2018')

df_2019 = df_2019[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2019 = df_2019.replace(70381025309,'2019')

df_2020 = df_2020[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2020 = df_2020.replace(70381025309,'2020')

df_2021 = df_2021[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2021 = df_2021.replace(70381025309,'2021')

df_2022 = df_2022[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2022 = df_2022.replace(70381025309,'2022')

In [11]:
df_2014 = df_2014[df_2014["DailyAverageDryBulbTemperature"] != '68s']
df_2014 = df_2014[df_2014["DailyAverageDryBulbTemperature"] != '9s']
df_2014 = df_2014[df_2014["DailyAverageDryBulbTemperature"] != '21s']
df_2014 = df_2014[df_2014["DailyMaximumDryBulbTemperature"] != '49s']

df_2015 = df_2015[df_2015["DailyAverageDryBulbTemperature"] != '68s']
df_2015 = df_2015[df_2015["DailyAverageDryBulbTemperature"] != '9s']
df_2015 = df_2015[df_2015["DailyAverageDryBulbTemperature"] != '21s']
df_2015 = df_2015[df_2015["DailyMaximumDryBulbTemperature"] != '49s']

df_2016 = df_2016[df_2016["DailyAverageDryBulbTemperature"] != '68s']
df_2016 = df_2016[df_2016["DailyAverageDryBulbTemperature"] != '9s']
df_2016 = df_2016[df_2016["DailyAverageDryBulbTemperature"] != '21s']
df_2016 = df_2016[df_2016["DailyMaximumDryBulbTemperature"] != '49s']

df_2017 = df_2017[df_2017["DailyAverageDryBulbTemperature"] != '68s']
df_2017 = df_2017[df_2017["DailyAverageDryBulbTemperature"] != '9s']
df_2017 = df_2017[df_2017["DailyAverageDryBulbTemperature"] != '21s']
df_2017 = df_2017[df_2017["DailyMaximumDryBulbTemperature"] != '49s']

df_2018 = df_2018[df_2018["DailyAverageDryBulbTemperature"] != '68s']
df_2018 = df_2018[df_2018["DailyAverageDryBulbTemperature"] != '9s']
df_2018 = df_2018[df_2018["DailyAverageDryBulbTemperature"] != '21s']
df_2018 = df_2018[df_2018["DailyMaximumDryBulbTemperature"] != '49s']

df_2019 = df_2019[df_2019["DailyAverageDryBulbTemperature"] != '68s']
df_2019 = df_2019[df_2019["DailyAverageDryBulbTemperature"] != '9s']
df_2019 = df_2019[df_2019["DailyAverageDryBulbTemperature"] != '21s']
df_2019 = df_2019[df_2019["DailyMaximumDryBulbTemperature"] != '49s']

df_2020 = df_2020[df_2020["DailyAverageDryBulbTemperature"] != '68s']
df_2020 = df_2020[df_2020["DailyAverageDryBulbTemperature"] != '9s']
df_2020 = df_2020[df_2020["DailyAverageDryBulbTemperature"] != '21s']
df_2020 = df_2020[df_2020["DailyMaximumDryBulbTemperature"] != '49s']

df_2021 = df_2021[df_2021["DailyAverageDryBulbTemperature"] != '68s']
df_2021 = df_2021[df_2021["DailyAverageDryBulbTemperature"] != '9s']
df_2021 = df_2021[df_2021["DailyAverageDryBulbTemperature"] != '21s']
df_2021 = df_2021[df_2021["DailyMaximumDryBulbTemperature"] != '49s']

df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '68s']
df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '9s']
df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '21s']
df_2022 = df_2022[df_2022["DailyMaximumDryBulbTemperature"] != '49s']

df_2014['DailyAverageDryBulbTemperature'] = df_2014['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2014['DailyMaximumDryBulbTemperature'] = df_2014['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2014['DailyMinimumDryBulbTemperature'] = df_2014['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2015['DailyAverageDryBulbTemperature'] = df_2015['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2015['DailyMaximumDryBulbTemperature'] = df_2015['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2015['DailyMinimumDryBulbTemperature'] = df_2015['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2016['DailyAverageDryBulbTemperature'] = df_2016['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2016['DailyMaximumDryBulbTemperature'] = df_2016['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2016['DailyMinimumDryBulbTemperature'] = df_2016['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2017['DailyAverageDryBulbTemperature'] = df_2017['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2017['DailyMaximumDryBulbTemperature'] = df_2017['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2017['DailyMinimumDryBulbTemperature'] = df_2017['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2018['DailyAverageDryBulbTemperature'] = df_2018['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2018['DailyMaximumDryBulbTemperature'] = df_2018['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2018['DailyMinimumDryBulbTemperature'] = df_2018['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2019['DailyAverageDryBulbTemperature'] = df_2019['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2019['DailyMaximumDryBulbTemperature'] = df_2019['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2019['DailyMinimumDryBulbTemperature'] = df_2019['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2020['DailyAverageDryBulbTemperature'] = df_2020['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2020['DailyMaximumDryBulbTemperature'] = df_2020['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2020['DailyMinimumDryBulbTemperature'] = df_2020['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2021['DailyAverageDryBulbTemperature'] = df_2021['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2021['DailyMaximumDryBulbTemperature'] = df_2021['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2021['DailyMinimumDryBulbTemperature'] = df_2021['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2022['DailyAverageDryBulbTemperature'] = df_2022['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2022['DailyMaximumDryBulbTemperature'] = df_2022['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2022['DailyMinimumDryBulbTemperature'] = df_2022['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

In [12]:
df_2014 = df_2014.groupby('STATION').mean()
df_2015 = df_2015.groupby('STATION').mean()
df_2016 = df_2016.groupby('STATION').mean()
df_2017 = df_2017.groupby('STATION').mean()
df_2018 = df_2018.groupby('STATION').mean()
df_2019 = df_2019.groupby('STATION').mean()
df_2020 = df_2020.groupby('STATION').mean()
df_2021 = df_2021.groupby('STATION').mean()
df_2022 = df_2022.groupby('STATION').mean()

In [13]:
frames = [df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022]
juneau_df = pd.concat(frames)
juneau_df.index.names = ['Year']
juneau_df = juneau_df.rename(columns={"DailyAverageDryBulbTemperature": "Average_Daily_Average_Temp", 
                "DailyMaximumDryBulbTemperature": "Average_Daily_Max_Temp",  "DailyMinimumDryBulbTemperature": "Average_Daily_Min_Temp"})
juneau_df['Location'] = ['Juneau, Alaska','Juneau, Alaska','Juneau, Alaska','Juneau, Alaska','Juneau, Alaska',
                        'Juneau, Alaska','Juneau, Alaska','Juneau, Alaska','Juneau, Alaska','Juneau, Alaska']
juneau_df = juneau_df[['Location','Average_Daily_Average_Temp', 'Average_Daily_Max_Temp','Average_Daily_Min_Temp']]
juneau_df

,Location,Average_Daily_Average_Temp,Average_Daily_Max_Temp,Average_Daily_Min_Temp
Year,,,,
2013,"Juneau, Alaska",44.424837,50.656863,37.696078
2014,"Juneau, Alaska",43.405479,49.405479,36.871233
2015,"Juneau, Alaska",44.761644,50.504110,38.501370
2016,"Juneau, Alaska",45.071038,51.144809,38.524590
2017,"Juneau, Alaska",41.673973,47.630137,35.200000
2018,"Juneau, Alaska",43.219178,49.835616,36.071233
2019,"Juneau, Alaska",44.545205,51.112329,37.473973
2020,"Juneau, Alaska",42.639344,48.081967,36.677596
2021,"Juneau, Alaska",42.019178,47.605479,35.936986
2022,"Juneau, Alaska",43.336986,49.194521,36.980822

In [14]:
juneau_df.to_csv(r'..\data\juneau_yearly_stats.csv')