In [1]:
import pandas as pd
import os

In [2]:
file_path = r'..\data\WBAN_23232_Sacramento_nofilter.xlsx'
xlsx = pd.ExcelFile(file_path)
df_2013 = pd.read_excel(xlsx, '2013')
df_2014 = pd.read_excel(xlsx, '2014')
df_2015 = pd.read_excel(xlsx, '2015')
df_2016 = pd.read_excel(xlsx, '2016')
df_2017 = pd.read_excel(xlsx, '2017')
df_2018 = pd.read_excel(xlsx, '2018')
df_2019 = pd.read_excel(xlsx, '2019')
df_2020 = pd.read_excel(xlsx, '2020')
df_2021 = pd.read_excel(xlsx, '2021')
df_2022 = pd.read_excel(xlsx, '2022')

In [3]:
df_2013.head()

,STATION,DATE,REPORT_TYPE,SOURCE,DailyAverageDewPointTemperature,DailyAverageDryBulbTemperature,DailyAverageRelativeHumidity,DailyAverageSeaLevelPressure,DailyAverageStationPressure,DailyAverageWetBulbTemperature,...,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed,DailyWeather
0,72483023232,2013-03-01T23:59:00,SOD,6,44.0,57,67.0,30.33,30.30,50.0,...,73,41,310.0,13.0,0,NaN,NaN,330,9,NaN
1,72483023232,2013-03-02T23:59:00,SOD,6,47.0,59,65.0,30.15,30.11,52.0,...,71,46,250.0,10.0,0,NaN,NaN,240,8,NaN
2,72483023232,2013-03-03T23:59:00,SOD,6,47.0,57,71.0,30.04,30.01,52.0,...,65,48,270.0,15.0,0.01,NaN,NaN,220,12,NaN
3,72483023232,2013-03-04T23:59:00,SOD,6,45.0,54,76.0,30.07,30.04,48.0,...,63,44,230.0,15.0,0,NaN,NaN,230,13,NaN
4,72483023232,2013-03-05T23:59:00,SOD,6,39.0,52,65.0,29.96,29.93,46.0,...,59,44,170.0,23.0,0.1,NaN,NaN,230,18,RA

In [4]:
df_2022.head()

,STATION,DATE,REPORT_TYPE,SOURCE,DailyAverageDewPointTemperature,DailyAverageDryBulbTemperature,DailyAverageRelativeHumidity,DailyAverageSeaLevelPressure,DailyAverageStationPressure,DailyAverageWetBulbTemperature,...,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed,DailyWeather
0,72483023232,2022-01-01T23:59:00,SOD,6,31.0,42,72.0,30.20,30.19,36.0,...,51,33,330,19,0,NaN,NaN,330,14,NaN
1,72483023232,2022-01-02T23:59:00,SOD,6,35.0,40,87.0,30.28,30.24,38.0,...,52,28,210,9,0,NaN,NaN,220,8,FZFG BR FG
2,72483023232,2022-01-03T23:59:00,SOD,6,39.0,42,82.0,30.20,30.17,42.0,...,53,31,160,24,0.01,NaN,NaN,140,15,RA FG BR
3,72483023232,2022-01-04T23:59:00,SOD,6,47.0,54,84.0,30.29,30.27,50.0,...,57,50,180,16,0,NaN,NaN,140,14,NaN
4,72483023232,2022-01-05T23:59:00,SOD,6,49.0,52,95.0,30.26,30.22,50.0,...,60,44,210,13,0,NaN,NaN,330,10,FG BR

In [5]:
df_2013.columns

Index(['STATION', 'DATE', 'REPORT_TYPE', 'SOURCE',
       'DailyAverageDewPointTemperature', 'DailyAverageDryBulbTemperature',
       'DailyAverageRelativeHumidity', 'DailyAverageSeaLevelPressure',
       'DailyAverageStationPressure', 'DailyAverageWetBulbTemperature',
       'DailyAverageWindSpeed', 'DailyCoolingDegreeDays',
       'DailyDepartureFromNormalAverageTemperature', 'DailyHeatingDegreeDays',
       'DailyMaximumDryBulbTemperature', 'DailyMinimumDryBulbTemperature',
       'DailyPeakWindDirection', 'DailyPeakWindSpeed', 'DailyPrecipitation',
       'DailySnowDepth', 'DailySnowfall', 'DailySustainedWindDirection',
       'DailySustainedWindSpeed', 'DailyWeather'],
      dtype='object')

In [6]:
df_2013 = df_2013[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2013 = df_2013.replace(72483023232,'2013')
df_2013 = df_2013[df_2013["DailyAverageDryBulbTemperature"] != '68s']
df_2013 = df_2013[df_2013["DailyAverageDryBulbTemperature"] != '9s']
df_2013 = df_2013[df_2013["DailyAverageDryBulbTemperature"] != '21s']
df_2013 = df_2013[df_2013["DailyMaximumDryBulbTemperature"] != '49s']
df_2013 = df_2013.set_index('STATION')
df_2013.head()

,DailyAverageDryBulbTemperature,DailyMaximumDryBulbTemperature,DailyMinimumDryBulbTemperature
STATION,,,
2013,57,73,41
2013,59,71,46
2013,57,65,48
2013,54,63,44
2013,52,59,44

In [7]:
df_2013['DailyAverageDryBulbTemperature'] = df_2013['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2013['DailyMaximumDryBulbTemperature'] = df_2013['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2013['DailyMinimumDryBulbTemperature'] = df_2013['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

In [8]:
df_2013.mean()

DailyAverageDryBulbTemperature    65.091503
DailyMaximumDryBulbTemperature    79.339869
DailyMinimumDryBulbTemperature    50.287582
dtype: float64

In [9]:
df_2013 = df_2013.groupby('STATION').mean()

In [10]:
df_2014 = df_2014[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2014 = df_2014.replace(72483023232,'2014')

df_2015 = df_2015[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2015 = df_2015.replace(72483023232,'2015')

df_2016= df_2016[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2016 = df_2016.replace(72483023232,'2016')

df_2017 = df_2017[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2017 = df_2017.replace(72483023232,'2017')

df_2018 = df_2018[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2018 = df_2018.replace(72483023232,'2018')

df_2019 = df_2019[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2019 = df_2019.replace(72483023232,'2019')

df_2020 = df_2020[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2020 = df_2020.replace(72483023232,'2020')

df_2021 = df_2021[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2021 = df_2021.replace(72483023232,'2021')

df_2022 = df_2022[['STATION','DailyAverageDryBulbTemperature','DailyMaximumDryBulbTemperature','DailyMinimumDryBulbTemperature']]
df_2022 = df_2022.replace(72483023232,'2022')

In [11]:
df_2014 = df_2014[df_2014["DailyAverageDryBulbTemperature"] != '68s']
df_2014 = df_2014[df_2014["DailyAverageDryBulbTemperature"] != '9s']
df_2014 = df_2014[df_2014["DailyAverageDryBulbTemperature"] != '21s']
df_2014 = df_2014[df_2014["DailyMaximumDryBulbTemperature"] != '49s']

df_2015 = df_2015[df_2015["DailyAverageDryBulbTemperature"] != '68s']
df_2015 = df_2015[df_2015["DailyAverageDryBulbTemperature"] != '9s']
df_2015 = df_2015[df_2015["DailyAverageDryBulbTemperature"] != '21s']
df_2015 = df_2015[df_2015["DailyMaximumDryBulbTemperature"] != '49s']

df_2016 = df_2016[df_2016["DailyAverageDryBulbTemperature"] != '68s']
df_2016 = df_2016[df_2016["DailyAverageDryBulbTemperature"] != '9s']
df_2016 = df_2016[df_2016["DailyAverageDryBulbTemperature"] != '21s']
df_2016 = df_2016[df_2016["DailyMaximumDryBulbTemperature"] != '49s']

df_2017 = df_2017[df_2017["DailyAverageDryBulbTemperature"] != '68s']
df_2017 = df_2017[df_2017["DailyAverageDryBulbTemperature"] != '9s']
df_2017 = df_2017[df_2017["DailyAverageDryBulbTemperature"] != '21s']
df_2017 = df_2017[df_2017["DailyMaximumDryBulbTemperature"] != '49s']

df_2018 = df_2018[df_2018["DailyAverageDryBulbTemperature"] != '68s']
df_2018 = df_2018[df_2018["DailyAverageDryBulbTemperature"] != '9s']
df_2018 = df_2018[df_2018["DailyAverageDryBulbTemperature"] != '21s']
df_2018 = df_2018[df_2018["DailyMaximumDryBulbTemperature"] != '49s']

df_2019 = df_2019[df_2019["DailyAverageDryBulbTemperature"] != '68s']
df_2019 = df_2019[df_2019["DailyAverageDryBulbTemperature"] != '9s']
df_2019 = df_2019[df_2019["DailyAverageDryBulbTemperature"] != '21s']
df_2019 = df_2019[df_2019["DailyMaximumDryBulbTemperature"] != '49s']

df_2020 = df_2020[df_2020["DailyAverageDryBulbTemperature"] != '68s']
df_2020 = df_2020[df_2020["DailyAverageDryBulbTemperature"] != '9s']
df_2020 = df_2020[df_2020["DailyAverageDryBulbTemperature"] != '21s']
df_2020 = df_2020[df_2020["DailyMaximumDryBulbTemperature"] != '49s']

df_2021 = df_2021[df_2021["DailyAverageDryBulbTemperature"] != '68s']
df_2021 = df_2021[df_2021["DailyAverageDryBulbTemperature"] != '9s']
df_2021 = df_2021[df_2021["DailyAverageDryBulbTemperature"] != '21s']
df_2021 = df_2021[df_2021["DailyMaximumDryBulbTemperature"] != '49s']

df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '68s']
df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '9s']
df_2022 = df_2022[df_2022["DailyAverageDryBulbTemperature"] != '21s']
df_2022 = df_2022[df_2022["DailyMaximumDryBulbTemperature"] != '49s']

df_2014['DailyAverageDryBulbTemperature'] = df_2014['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2014['DailyMaximumDryBulbTemperature'] = df_2014['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2014['DailyMinimumDryBulbTemperature'] = df_2014['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2015['DailyAverageDryBulbTemperature'] = df_2015['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2015['DailyMaximumDryBulbTemperature'] = df_2015['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2015['DailyMinimumDryBulbTemperature'] = df_2015['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2016['DailyAverageDryBulbTemperature'] = df_2016['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2016['DailyMaximumDryBulbTemperature'] = df_2016['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2016['DailyMinimumDryBulbTemperature'] = df_2016['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2017['DailyAverageDryBulbTemperature'] = df_2017['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2017['DailyMaximumDryBulbTemperature'] = df_2017['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2017['DailyMinimumDryBulbTemperature'] = df_2017['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2018['DailyAverageDryBulbTemperature'] = df_2018['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2018['DailyMaximumDryBulbTemperature'] = df_2018['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2018['DailyMinimumDryBulbTemperature'] = df_2018['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2019['DailyAverageDryBulbTemperature'] = df_2019['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2019['DailyMaximumDryBulbTemperature'] = df_2019['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2019['DailyMinimumDryBulbTemperature'] = df_2019['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2020['DailyAverageDryBulbTemperature'] = df_2020['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2020['DailyMaximumDryBulbTemperature'] = df_2020['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2020['DailyMinimumDryBulbTemperature'] = df_2020['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2021['DailyAverageDryBulbTemperature'] = df_2021['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2021['DailyMaximumDryBulbTemperature'] = df_2021['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2021['DailyMinimumDryBulbTemperature'] = df_2021['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

df_2022['DailyAverageDryBulbTemperature'] = df_2022['DailyAverageDryBulbTemperature'].fillna(0).astype('int')
df_2022['DailyMaximumDryBulbTemperature'] = df_2022['DailyMaximumDryBulbTemperature'].fillna(0).astype('int')
df_2022['DailyMinimumDryBulbTemperature'] = df_2022['DailyMinimumDryBulbTemperature'].fillna(0).astype('int')

In [12]:
df_2014 = df_2014.groupby('STATION').mean()
df_2015 = df_2015.groupby('STATION').mean()
df_2016 = df_2016.groupby('STATION').mean()
df_2017 = df_2017.groupby('STATION').mean()
df_2018 = df_2018.groupby('STATION').mean()
df_2019 = df_2019.groupby('STATION').mean()
df_2020 = df_2020.groupby('STATION').mean()
df_2021 = df_2021.groupby('STATION').mean()
df_2022 = df_2022.groupby('STATION').mean()

In [13]:
frames = [df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021, df_2022]
sacramento_df = pd.concat(frames)
sacramento_df.index.names = ['Year']
sacramento_df = sacramento_df.rename(columns={"DailyAverageDryBulbTemperature": "Average_Daily_Average_Temp", 
                "DailyMaximumDryBulbTemperature": "Average_Daily_Max_Temp",  "DailyMinimumDryBulbTemperature": "Average_Daily_Min_Temp"})
sacramento_df['Location'] = ['Sacramento, California','Sacramento, California','Sacramento, California','Sacramento, California','Sacramento, California',
                        'Sacramento, California','Sacramento, California','Sacramento, California','Sacramento, California','Sacramento, California']
sacramento_df = sacramento_df[['Location','Average_Daily_Average_Temp', 'Average_Daily_Max_Temp','Average_Daily_Min_Temp']]
sacramento_df

,Location,Average_Daily_Average_Temp,Average_Daily_Max_Temp,Average_Daily_Min_Temp
Year,,,,
2013,"Sacramento, California",65.091503,79.339869,50.287582
2014,"Sacramento, California",64.660274,77.430137,51.375342
2015,"Sacramento, California",64.049315,77.087671,50.531507
2016,"Sacramento, California",62.860656,75.314208,49.959016
2017,"Sacramento, California",62.901370,75.312329,49.986301
2018,"Sacramento, California",62.073973,75.145205,48.471233
2019,"Sacramento, California",62.468493,74.668493,49.794521
2020,"Sacramento, California",63.931694,77.631148,49.732240
2021,"Sacramento, California",62.649315,75.747945,49.095890
2022,"Sacramento, California",63.126027,76.967123,48.791781

In [14]:
sacramento_df.to_csv(r'..\data\sacramento_yearly_stats.csv')